<!DOCTYPE html>
<meta charset="utf-8">
<head>
    <title>Tree layout</title>
    <comment style="display: none">
        Created by http://animateddata.co.uk/
        Source: http://animateddata.co.uk/slides/d3-layouts/treemap.html
    </comment>
</head>

<style>
    rect {
        fill: steelblue;
        stroke: white;
        stroke-width: 1px;
    }
</style>

<body>
<svg width="800" height="600">
    <g class="treemap" transform="translate(10, 10)"></g>
</svg>

<script src="d3.js"></script>
<script>
    // Tree layout
    var treemapLayout = d3.layout.treemap()
            .size([600, 400]);

    d3.json('data/tree.json', function(err, data) {
        var nodes = treemapLayout(data);

        // Draw nodes
        d3.select('svg g.treemap')
            .selectAll('rect')
            .data(nodes)
            .enter()
            .append('rect')
                .attr('x', function(d) {return d.x;})
                .attr('y', function(d) {return d.y;})
                .attr('width', function(d) {return d.dx;})
                .attr('height', function(d) {return d.dy;});
    });
</script>
</body>
</html>